[Unit]
Description=CSYE 6225 App
ConditionPathExists=/opt/csye6225/webapp/.env
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225/webapp
ExecStart=/bin/bash -c "source venv/bin/activate && flask db init || echo "" && flask db migrate || echo "" && flask db upgrade || echo "" && flask run --host=0.0.0.0 --port=5000"
Restart=always
RestartSec=3
StandardOutput=append:/var/log/webapp/csye6225.log
StandardError=append:/var/log/webapp/csye6225.log
SyslogIdentifier=csye6225
Environment="PATH=/opt/csye6225/webapp/venv/bin"


[Install]
WantedBy=multi-user.target